
.container {
  background: #faf6f1; 
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

}


.my-3 {
  font-weight: bold;
  color: #8b4513;
  font-size: 18px;
}


.form-control {
  border-radius: 16px;
  border: 1px solid #d2b48c;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.form-text {
  
  color: #5a4634; 
}


.form-check-input {
  width: 18px;
  height: 18px;
  border-radius: 16px;
  border: 1px solid #a0522d; 
}

.form-check-label {
  margin-left: 6px;
  font-weight: 500;
  color: #4b3832; 
}


.btn-success {
  background: #d2691e; 
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 16px;
  color: white;

}

.bg-success {
  background: #6b8e23; 
  color: white;
  padding: 10px;
  border-radius: 16px;
  font-weight: bold;
 
}

.bg-error {
  background: #b22222;
  color: white;
  padding: 10px;
  border-radius: 16px;
  font-weight: bold;
  
}